@import url(https://fonts.googleapis.com/css?family=Pacifico|Lato);
body {
  background: #00ccff;
}

header {
  text-align: center;
}
header .title {
  font-family: Pacifico, sans-serif;
  font-size: 4em;
  color: #000066;
  margin-bottom: -10px;
  margin-top: 10px;
}
header .tagline {
  font-family: Ariel, sans-serif;
  color: #005266;
  margin-bottom: -30px;
  margin-top: 40px;
}

#wrapper {
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  margin: 50px auto;
}
#wrapper #loading {
  text-align: center;
  margin: 0 auto;
}
#wrapper #loading h1 {
  font-family: Pacifico, sans-serif;
  font-size: 4em;
  color: #005266;
  margin-bottom: -30px;
}
#wrapper #columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-column-fill: balanced;
  -moz-column-fill: balanced;
  column-fill: balanced;
}
#wrapper #columns .pin {
  display: inline-block;
  background: #3333ff;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px;
  background-color: #99ebff;
  background-image: -webkit-linear-gradient(-315deg, #99ebff, #ccf5ff);
  background-image: linear-gradient(45deg,#99ebff, #ccf5ff);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
#wrapper #columns .pin:hover {
  background-color: #ccf5ff;
  background-image: -webkit-linear-gradient(-315deg, #ccf5ff, white);
  background-image: linear-gradient(45deg,#ccf5ff, white);
  cursor: pointer;
}
#wrapper #columns .pin img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
}
#wrapper #columns .pin p {
  font: 12px/18px Lato, sans-serif;
  color: #000066;
  font-size: .8em;
  letter-spacing: .2px;
  line-height: 20px;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /*box-shadow: 0px 0px 9px black;*/
  border-style: hidden;
}
#wrapper #columns .pin footer {
  white-space: nowrap;
  overflow: hidden;
  border-style: none;
  
}
#wrapper #columns .pin footer .comments {
  float: left;
}
#wrapper #columns .pin footer .author {
  float:right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 700px) {
  #wrapper #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 830px) {
  #wrapper #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media (min-width: 1100px) {
  #wrapper #columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
